@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*----------------------- header section----------------------- */


 #header{
  background-color: #1589FF;
 

}


.header-container{
  padding-top:5%;
 display:flex;
 flex-wrap: wrap;
justify-content: space-evenly;
 
  }
  
.header-container,.typedText,h1{
color: #d1e0e0;
font-size: 40px;
font-family: 'Roboto', sans-serif;
word-spacing: 5px;
  }

  h2{
    text-transform: uppercase;
  }

.typedText{
line-height: 3.5rem;
}

.myImg{
  
  Width:20rem;
  height:20rem;
  border:5px solid blue;
 margin-bottom: 20px;
}

.col{
  
  margin: 75px;
}

.link-button{
  margin-top: 10px;
  display:inline-block;
  background-color: #FFFF;
  color: 101010;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 25px;
  font-family: 'sans-serif';
}
.link-button:hover{
  background-color:#E8E8E8 ;
}

/*----------------------- About section----------------------- */

#about-me{
position:relative;
top:10rem;

}


.about-div{
  position:relative;
 margin:2.5rem;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  }
  #outline-Text{
    color: white;
    text-transform: uppercase;
    font-size:10em;
    text-shadow: -1px 1px 0 #B6D0E2,
                  1px 1px 0 #B6D0E2,
                  1px -1px 0 #B6D0E2;
                  
          
  }

  #skill{
margin:10px 20px;

  }


.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  margin:0 50px;
  grid-template-areas:
    "ad"
    "main"
}


 #heading-text{
position:absolute;
top:32%;
color:#1589FF;
font-size:3.5em;
text-transform: uppercase;
  }
  
 
  .myLaptopPic{
  grid-area:ad;
  margin:10px 10px;
  width:100%;
 min-width: 150px;
  height: 400px;
  margin:10px auto;
  
  }

  .about-me-div{
    grid-area:main;
  display:grid;  
text-align: left;
margin:20px;
grid-template-rows: 50px 100px
  
  }


  .detail-div{
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
     }
/*----------------------- Skills section----------------------- */

  
  .progress {
    border-radius: 10px;
  }
  
  .progress .progress-bar {
    width: 0;
    border-radius: 10px;
    transition: 2s;
  }
  #skill{
    margin:10px 20px;

  }

  .ex-me{
    margin-top: 35px;
  }


/*----------------------- Portfolio section----------------------- */


  .portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
  }
  
  .portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
  }

/*----------------------- Footer section----------------------- */

.btn-social{

  margin:10px;
}



  /*----------------------Media queries for responsive design----------------------- */

  
  @media screen and (min-width: 500px) {

    #header{
    height:65vh;

    }

    #about-me{
      top:20px;
    }


         .grid-container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
               "ad      main"
              
    }
    

    .detail-div{
margin:0 auto;

    }

      }



      @media screen and (max-width: 768px) {

       
        #about-me{
          top:200px;
        }
    
    
            .grid-container {
          grid-template-columns: 1fr 3fr;
          grid-template-areas:
                   "ad "
                   "main"
        }

        .detail-div{
          margin:15px auto;
          
              }

      }